<style>
  .ebyacfWrapper .ebycopyLtWeight,
.ebyacfWrapper .ebycopyLtWeight,
.ebyacfWrapper .ebycopyLtWeight{
  font-family: "Domaine Regular", serif;
}
.pageTop,
.ebyacfWrapper.pageTop {
	padding-top: 43px;
}

.ebycopyMdWrap {
  max-width: 825px;
  margin: 0 auto;
}
.ebycopySmWrap {
  max-width: 550px;
  margin: 0 auto;
}
.ebycopyLgWrap {
  max-width: 1000px;
  margin: 0 auto;
}
.ebyacfContent {
    /*background: #fff;*/
    /*padding-top: 4rem;*/
}
.ebycmsButtonWrapper {
    max-width: 1460px;
    width: 100%;
    margin: 5rem auto;
    padding: 0 2rem;
    text-align: center;
}
.vertCent {
    align-items: center;
    display: flex;
    width: 100%;
}
.item.item2.oneTileBlock {
	margin-bottom: 5rem;
}
@media(max-width: 769px) {
    .item.item2.oneTileBlock {
      margin-bottom: 0;
    }
}
  .ebyacfWrapper {width: 100%;max-width: 100%;}.ebyacfWrapper.centerPadding .ebycmsContentBlock {max-width: 1000px;width: 100%;}.ebyacfWrapper.centerPadding .ebycmsContentBlock h2 {line-height: 5rem;}.ebyacfWrapper > header, .ebyacfWrapper > article {max-width: 1460px;width: 100%;margin: 0 auto;padding: 35px 45px 35px 45px;}@media (max-width: 480px) {.ebyacfWrapper > header, .ebyacfWrapper > article {padding: 40px;}}@media (max-width: 480px) {.ebyacfWrapper > header, .ebyacfWrapper > article {padding: 20px;}}.ebyacfWrapper h1 {font-family: "Domaine Regular", serif;font-size: 48px;margin: 0 auto;}.ebyacfWrapper h2 {font-family: "Domaine Regular", serif;font-size: 36px;font-weight: 500;line-height: 1.4;margin: 0 auto;}.ebyacfWrapper h3 {font-family: "Domaine Regular", serif;font-size: 25px;margin: 0 auto;}.ebyacfWrapper p {font-family: "Domaine Regular", serif;font-size: 25px;line-height: 1.7;margin: 0 auto;}.ebyacfWrapper h4 {font-family: "activ-grotesk", sans-serif;}.ebyacfWrapper p, .ebyacfWrapper h4 {font-size: 2.25rem;}.ebyacfWrapper img {display: block;width: 100%;margin: 0 auto;max-width: 1440px;}.ebyacfWrapper .ebycmsTwoColWrapper {display: flex;padding: 2rem;justify-content: space-between;}.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol {width: 100%;max-width: 48%;}@media (max-width: 769px) {.ebyacfWrapper .ebycmsTwoColWrapper {flex-direction: column;padding: 0;}.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol {max-width: 100%;margin-bottom: 3rem;}}@media (max-width: 769px) {.ebyacfWrapper h1 {font-size: 3.75rem;}.ebyacfWrapper h2 {font-size: 2.5rem;line-height: 3rem;}.ebyacfWrapper h3, .ebyacfWrapper h4, .ebyacfWrapper p {font-size: 1.75rem;}.ebyacfWrapper.centerPadding .ebycmsContentBlock {max-width: 100%;padding: 4rem 2rem;}.ebyacfWrapper.centerPadding .ebycmsContentBlock h2 {font-size: 2rem;line-height: 3.5rem;}}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h2 {margin-bottom: 20px;font-weight: 700;}
.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol p {font-family: "Domaine Regular";font-size: 25px;line-height: 1.8;}
.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h3 {
  font-family: "Domaine Regular";
  font-size: 36px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 auto 20px;
}
.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h4 {
  font-family: "Domaine Regular";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 auto;
}
#about .our-people-section .our-people-info{
 text-align: center; 
}
.our-people-section {padding-bottom: 180px;}
.our-people-section h1 {font-size:50px;font-weight:700;margin:80px 0 120px 0;}
.our-people-section .our-top-head {}
.our-people-section .our-top-head h2 {
  font-family: "Domaine Regular";
  font-size: 48px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 auto;
  text-align: center;
}
.our-people-section .our-top-head p {
  font-family:aktiv-grotesk,Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
  margin: 20px auto;
}
.our-people-section .our-people-img {padding:80px 30px 80px 30px;}
.our-people-section .our-people-info {max-width:816px;width:100%;margin:0 auto;text-align:center;}
.our-people-section .our-people-info p {
  font-family: "Domaine Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  margin: 20px auto;
}

.our_product-txt {text-align:center;}
.our_product-txt h2 {font-size:48px;font-weight:400 !important;line-height:1.2;}

.our-product-info {clear:both;padding:80px 0 200px 0;text-align:center;}

.we_wxist_section {}
.we_wxist_section .wxist_img {padding:50px 50px 0 50px;}
.we_wxist_section h1 {margin:120px 0;}

/*.main_top_header {padding-top:30px;}*/
.proHImage:hover .proFeaturedImage span{visibility: visible;@include opacity(1);}
.proHImage:hover .proButton {@include opacity(1);visibility: visible;}

@media (max-width: 1199px){
  
  /*
  .ebyacfWrapper>header, .ebyacfWrapper>article {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 45px 20px 45px;
  }
  */
  /*.main_top_header {padding-top:10px;}*/
  .ebyacfWrapper h1 {font-size: 4.8rem;}
  
  .ebyacfWrapper .ebycmsTwoColWrapper {display: block;padding: 20px;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol {width: 100%;padding: 0 0 40px 0;max-width:100%;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h3 {font-size: 36px;margin: 40px auto 100px;}
  .we_wxist_section h1 {margin: 70px 0;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h4 {margin-bottom:40px;}

  .our-people-section h1 {font-size: 36px;margin: 20px 0 50px 0;}
  .our-people-section .our-top-head h2 {font-size: 36px;line-height: 1.2;}
  .our-people-section .our-top-head p {font-size: 18px;line-height: 1.4;margin: 20px auto 0;}
  .our-people-section .our-people-info {text-align: center;}
  .our_product-txt {max-width: 550px;margin: 0 auto;width:100%;}
  
  .our-product-info {padding: 20px 0 100px 0;}
  
}

@media (max-width: 991px){
  
  .we_wxist_section .wxist_img {padding: 30px 20px 0 20px;}
  .our-people-section .our-top-head h2 br {display:none;}
}

@media (max-width: 640px){
  
  .ebyacfWrapper h1 {font-size: 3.6rem;}
  .mainContent .faq_page {
    padding: 2rem;
  }
  .faq_tab_main {
  	margin-bottom: 5rem;
  }
  #faq .newslsec {
  	margin: 0;
  }
  .ebyacfWrapper>header, .ebyacfWrapper>article {padding:20px;}
  .ebyacfWrapper p:empty {display: none;} 
  .we_wxist_section h1 {margin: 40px 0 10px 0;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h2 {margin-bottom: 10px;font-size: 18px;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol p {font-size: 18px;  line-height: 1.5;}
  .we_wxist_section .wxist_img {padding: 10px 10px 0 10px;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h3 {font-size: 24px;margin: 0px auto 50px;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h4 {font-size: 24px;margin-bottom: 0;}
  
  .our-people-section h1 {font-size: 24px;margin: 20px 0 30px 0;}
  .our-people-section .our-top-head h2 {font-size: 28px;}
  .our-people-section .our-top-head p {font-size:16px;}
  
  .our-people-section .our-people-img {padding: 40px 10px 40px 10px;}
  .our-people-section .our-people-info p {font-size:18px;}
  .our-people-section {padding-bottom: 50px;}
  .our-product-info {padding: 0px 0 50px 0;}
  
}

</style>
<section class="ebyacfContent CmsPageContent">
	<!-- Section 1, Header -->
	{% if !!page.metafields.ebyacf.enable_blkOne %}
		<div class="ebyacfWrapper ebycmsWrapper pageTop" style="background-color: {{ page.metafields.ebyacf.blkOne_background_color }};">
			<header>
				{{ page.metafields.ebyacf.blkOne_page_title.en }}
			</header>
		</div>
	{% endif %}

	<!-- Section 2, Image Banner -->
	{% if !!page.metafields.ebyacf.enable_blkTwo %}
		<div class="ebyacfWrapper ebycmsWrapper" style="background-color: {{ page.metafields.ebyacf.blkTwo_background_color }};">
			<header>
				{{ page.metafields.ebyacf.blkTwo_banner_image }}
			</header>
		</div>
	{% endif %}

	<!-- Section 3, Image and copy -->
	{% if !!page.metafields.ebyacf.enable_blkThree %}
		<div class="ebyacfWrapper ebycmsWrapper centerPadding" style="background-color: {{ page.metafields.ebyacf.blkThree_background_color }};">
			<article class="ebycmsContentBlock info">
				<div class="ebycmsEditorWrapper">
					{{ page.metafields.ebyacf.blkThree_image_and_copy.en }}
				</div>
			</article>
		</div>
	{% endif %}

	<!-- Section 5, Copy Statement -->
	{% if !!page.metafields.ebyacf.enable_blkFive %}
		<div class="ebyacfWrapper ebycmsWrapper" style="background-color: {{ page.metafields.ebyacf.blkFive_background_color }};">
			<article class="ebycmsContentBlock info">
				<header>
					{{ page.metafields.ebyacf.blkFive_copy_statement_editor.en }}
				</header>
				<footer class="ebycmsTwoColWrapper">
					<div class="ebycmsCol {% if !!page.metafields.ebyacf.blkFive_vert_center_col %}vertCent{% endif %}">
						{{ page.metafields.ebyacf.blkFive_left_column_content.en }}
					</div>
					<div class="ebycmsCol">
						{{ page.metafields.ebyacf.blkFive_right_column_content.en }}
					</div>
				</footer>
			</article>
		</div>
	{% endif %}

	<!-- Section 4, Video and copy -->
	{% if !!page.metafields.ebyacf.enable_blkFour %}
		<div class="ebyacfWrapper ebycmsWrapper" style="background-color: {{ page.metafields.ebyacf.blkFour_background_color }};">
			<article class="ebycmsContentBlock info">
				<div class="ebycmsEditorWrapper">
					{{ page.metafields.ebyacf.blkFour_video_and_copy_editor.en }}
				</div>
			</article>
		</div>
	{% endif %}

	<!-- Section 6, Two Column Copy/Image -->
	{% if !!page.metafields.ebyacf.enable_blkSix %}
		<div class="ebyacfWrapper ebycmsWrapper" style="background-color: {{ page.metafields.ebyacf.blkSix_background_color }};">
			<article class="ebycmsContentBlock info">
				<header>
					{{ page.metafields.ebyacf.blkSix_copy_image_editor.en }}
				</header>
				<div class="ebycmsTwoColWrapper">
					<div class="ebycmsCol {% if !!page.metafields.ebyacf.blkSix_vert_center_col %}vertCent{% endif %}">
						{{ page.metafields.ebyacf.blkSix_left_column_content.en }}
					</div>
					<div class="ebycmsCol">
						{{ page.metafields.ebyacf.blkSix_right_column_content.en }}
					</div>
				</div>
				<footer>
					{{ page.metafields.ebyacf.blkSix_copy_image_editor_clone.en }}
				</footer>
			</article>
		</div>
	{% endif %}

	<!-- Section 8, CTA and Button -->
	{% if !!page.metafields.ebyacf.enable_blkEight %}
		{% comment %}
  		<div class="ebyacfWrapper ebycmsWrapper" style="background-color: {{ page.metafields.ebyacf.blkEight_background_color }};">
			<article class="ebycmsContentBlock cta">
				<div class="ebycmsEditorWrapper">
					{{ page.metafields.ebyacf.blkEight_cta_button_editor.en }}
				</div>
				<div class="ebycmsButtonWrapper">
					<a class="ebycmsButton ebyMacroButton" title="{{ page.metafields.ebyacf.blkEight_cta_button_copy.en }}" href="{{ page.metafields.ebyacf.blkEight_cta_button_url }}" >{{ page.metafields.ebyacf.blkEight_cta_button_copy.en }}</a>
				</div>
			</article>
		</div>
  		{% endcomment %}
  		<div class="ebyacfWrapper ebycmsWrapper" style="background-color: {{ page.metafields.ebyacf.blkEight_background_color }};">
			<article class="ebycmsContentBlock cta">
				<div class="ebycmsEditorWrapper">
					<h1 style="text-align: center;">Your choices have power&nbsp;</h1>
					<h1 style="text-align: center;"><span style="color: rgb(138, 138, 138);">/ Put them on repeat</span></h1>
				</div>
				<div class="ebycmsButtonWrapper">
				{% for value in page.metafields.ebyacf.blkEight_cta_button_copy %}
                <a class="ebycmsButton ebyMacroButton getMembershipGlobalLink" title="{{ page.metafields.ebyacf.blkEight_cta_button_copy.en }}" href="{{ page.metafields.ebyacf.blkEight_cta_button_url }}" >{{ page.metafields.ebyacf.blkEight_cta_button_copy[forloop.index0].en }}</a>
                {% endfor %}
				</div>
			</article>
		</div>
	{% endif %}
</section>

<!-- Default Template -->
<section id="pageContent">
    {% section 'vela-template-about' %}
    {% section 'vela-about-text-feature' %}
    {% section 'vela-about-service' %}
    {% section 'vela-about-team' %}
</section>